# enter requirements that aren't related to connecting to the messagebus here
stomp.py==6.0.0
gridappsd-python==v2024.6.0
pytest
docker
mock
pytest-html
pytest-timeout
dictdiffer 
deepdiff
cim-graph==0.1.6a0
 
